<style>
    body {
        margin: 0;
    }

    /* Top Header */
    .partialview {
        background-color: #235c4e;
        height: 68px;
        display: flex;
        align-items: center;
        padding: 0 20px;
    }

    .logo-img img {
        height: 70px;
    }

    /* Main layout */
    .main-layout {
        display: flex;
        padding-bottom: 30px; /* 👈 adds 10px bottom space */
        min-height: calc(100vh - 68px);
        background-color: #235c4e
    }

    /* Sidebar */
    .layoutlink {
        width: 200px;
        background-color: #235c4e;
        color: white;
        display: flex;
    }

    .sidebar {
        flex: 1;
    }
    .sidebar button {
        width: 100%;
        padding: 9px;
        background-color: #307665;
        border: none;
        color: white;
        font-size: 16px;
        cursor: pointer;
        font-weight: 300;
        border-bottom: solid 1px #0d2921;
        font-family: system-ui;
        text-align: start;
    }

        .sidebar button:hover {
            background-color: #17362e;
        }

    /* Page Content */
    .content {
        flex: 1;
        background-color: #17362e;
        padding-bottom: 10px; /* 👈 adds 10px bottom space */
    }

    .header-user {
        margin-left: auto;
        margin-right: 30px;
    }

    .user-btn {
        background-color: #307665;
        border: none;
        color: white;
        padding: 8px 14px;
        border-radius: 20px;
        font-size: 14px;
        cursor: pointer;
        font-weight: 500;
    }

        .user-btn:hover {
            background-color: #17362e;
        }

    #customerSubmenu button {
        background-color: #3d7a6a;
        border: none;
        width: 95%;
        color: white;
        margin-top: 2px;
        text-align: start;
    }

        #customerSubmenu button:hover {
            background-color: #2e5e50;
        }

</style>

<!-- HEADER -->
<div class="partialview">
    <div class="logo-img">
        <img src="https://images.liquorapps.com/Images/SeoBlog/846fb718-efe0-4a80-9c10-8ff9e9a0b291.webp" />
    </div>
    <h2 style="color: white;margin-left: 3px;">
        VN ENTERPRISES
    </h2>
    <div class="header-user">
        <button class="user-btn">
            👤 @ViewBag.EmployeeName
        </button>
    </div>
</div>

<!-- BODY -->
<div class="main-layout">

    <!-- SIDEBAR -->
    <div class="layoutlink">
        <div class="sidebar">
            <button onclick="location.href='@Url.Action("Index", "Admin")'">
                Home
            </button>
            <button onclick="location.href='@Url.Action("Employee", "Admin")'">
                Employee
            </button>
            <button onclick="location.href='@Url.Action("Transactions", "Employee")'">
                Transacations
            </button>
            <button onclick="location.href='@Url.Action("LogOut", "Employee")'">
                Log Out
            </button>
        </div>


    </div>

    <!-- CONTENT -->
    <div class="content">
        @RenderBody()
    </div>

</div>
<script>
    function toggleSubmenu(id) {
        var submenu = document.getElementById(id);
        if (submenu.style.display === "none" || submenu.style.display === "") {
            submenu.style.display = "block";
        } else {
            submenu.style.display = "none";
        }
    }
</script>
